<div class="container">

<h1>Gustavo Sebastian Elizalde</h1>
<p>Find me in app/views/pages/x.html.erb</p>


<h2>Formulario de registro</h2>
<form action="" method="post">
	
	<label for="nombre">Nombre:<br>
		<input type="text" name="nombre" id="nombre">
	</label><br>

	<label for="email">Email:<br>
		<input type="email" name="email" id="email">
	</label><br>

	<label for="edad">Edad:<br>
		<input type="number" name="edad" id="edad">
	</label><br>

	<input type="submit" value="Enviar">

</form>

</div>